#body .title{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}
#body .buttons{
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#body button{
    width: 25%;
    height: 25vh;
}